{% extends 'account/base.html' %}

{% block content %}
    <div class="d-flex justify-content-between align-items-start">
        <a href="{% url 'todo-create' %}">
            <button type="button"
                    class="btn btn-primary btn-sm mt-3 mx-1">Add
            </button>
        </a>

        <div class="d-flex">
            <a href="{% url 'todo-list' %}">
                <button type="button"
                        class="btn btn-{% if not completed %}primary{% else %}secondary{% endif %} btn-sm mt-3 mx-1">
                    Current
                </button>
            </a>
            <a href="{% url 'todo-list-completed' %}">
                <button type="button"
                        class="btn btn-{% if not completed %}secondary{% else %}primary{% endif %} btn-sm mt-3 mx-1">
                    Completed
                </button>
            </a>
        </div>
    </div>

    <ol class="list-group list-group-numbered mt-4">
        {% for todo in object_list %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <a class="text-black text-decoration-none"
                       {% if not completed %}href="{% url 'todo-update' todo.pk %}"{% endif %}>
                        <div class="fw-bold">{{ todo|linebreaks }}</div>

                    </a>
                </div>

                <div class="d-flex justify-content-end">

                    <div class="">
                        {% if completed %}
                            <small class="mx-3">Completed {{ todo.modified|timesince }} ago.</small>
                        {% else %}
                            <small class="mx-3">Modified {{ todo.modified|timesince }} ago.</small>
                        {% endif %}
                    </div>

                    <div class="">
                        {% if completed %}
                            <form method="post" action="{% url 'todo-delete' todo.pk %}">
                                {% csrf_token %}
                                <span>
                                <button type="submit" class="btn btn-sm btn-outline-primary"
                                        onclick="this.disabled=true; this.form.submit();">Delete</button>
                            </span>
                            </form>
                        {% else %}
                            <form method="post" action="{% url 'todo-complete' todo.pk %}">
                                {% csrf_token %}
                                <span>
                                <button type="submit" class="btn btn-sm btn-outline-primary"
                                        onclick="this.disabled=true; this.form.submit();">&#10003;</button>
                            </span>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% empty %}
            {% if completed %}
                List of completed tasks is empty.
            {% else %}
                Your tasks list is empty. Add something to do.
            {% endif %}
        {% endfor %}
    </ol>
{% endblock %}


